.Container {
  text-align: center;
  margin: 48px 16px 200px 16px;
}

.Title {
  font-size: 58px;
  line-height: 1.5;
}

.SearchArea {
  max-width: 400px;
  margin: 64px auto 48px auto;
}

.SuggestedKeywords {
  margin: 16px;
}

.SuggestedKeywords li {
  display: inline-block;
  background: #eee;
  margin: 8px;
  padding: 8px 16px;
  border-radius: 16px;
  transition: 0.2s background;
}

.SuggestedKeywords li:hover {
  background: #ddd;
}

.SuggestedKeywords a:link, .SuggestedKeywords a:visited {
  color: inherit;
  text-decoration: none;
}